.info-form {
  width: 40vw;
  margin-left: 25%;
  margin-top: 8%;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 36px;
}

.info-form form input {
  margin-bottom: 2%;
}

.form-alert {
  margin: 2% 0%;
}

@media screen and (max-width:800px) {
    body {
      padding: 14px;
    }
    .info-form {
      width: auto;
      margin-left: 0;
      margin-top: 0;
      padding: 2%;
    }

    .info-form form input {
      margin: 2% 0%;
    }
}
